@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
         url("../fonts/roboto-v20-cyrillic-regular.woff2") format("woff2"), 
         url("../fonts/roboto-v20-cyrillic-regular.woff") format("woff"); 
}
 
@font-face {
     font-family: "Roboto";
     font-style: normal;
     font-weight: 500;
     src: local("Roboto Medium"), local("Roboto-Medium"),
          url("../fonts/roboto-v20-cyrillic-500.woff2") format("woff2"), 
          url("../fonts/roboto-v20-cyrillic-500.woff") format("woff"); 
}
   
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
         url("../fonts/roboto-v20-cyrillic-700.woff2") format("woff2"), 
         url("../fonts/roboto-v20-cyrillic-700.woff") format("woff"); 
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto","Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    color: #ffffff;

    background-color: #859e90;
}


.container {
  width:1200px;
  margin:auto;
}

.navigation {
  display:flex;
  margin-left:27px;
  margin-right:27px;
}

.site-navigation {
  display:flex;
  justify-content: space-between;
  width:350px;
  list-style: none;
}

.user-navigation {
  display:flex;
  justify-content: space-between;
  margin-left:376px;
  width:245px;
  list-style: none;
}

a {
  text-decoration: none;
}

.site-navigation a  {
  font-weight: 700;
  line-height: 1.13;
  color: #ffffff;
}

.products-list {
  list-style: none;
}

.button {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: #9eb2a6;
}

 .button-full {
  color: #323232;
  background-color: #ffffff;
}
    
.page-title {
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
}  


.advantages {
  width:1148px;
  color: #323232;
  border-radius: 15px;
  background-image:url("../img/wafer-background.jpg");
  background-repeat: no-repeat;
}

.advantages-list {
  list-style: none;
}

.container-advantages {
  width:1200px;
  margin:auto;
  display:flex;
  justify-content: center;
}

.container-strawberry-post {
  width:1200px;
  margin:auto;
  display:flex;
  justify-content: space-between;
}
 .strawberry {
    width:561px;
    margin-left:27px;
    border-radius: 15px;
    background-image:url("../img/strawberry-background.jpg");
    background-repeat: no-repeat;
}

 .strawberry a {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-decoration:underline;
    color: #323232;
}

.note {
  color: #323232;
}

 .post {
     width:561px;
     margin-right:27px;
     color: #5a5a5a;
     border-radius: 15px;
     background-color: #f8f7f4;
     background-image:url("../img/mail-background.jpg");
     background-repeat: no-repeat;  
}

  .mailing {
    line-height: 1.5;
    color: #999999;
}

  .red-button {
    font-size: 18px;
    font-weight:700;
    line-height: 1.33;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
}
  
  .main-footer {
    display:flex;
    margin-left: auto;
  }

  .main-footer a {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
  }

  .footer-social {
    display:flex;
    justify-content: space-between;
    list-style: none;
  }

  .information-list {
    margin:auto;
    display:flex;
    align-content:space-around;
    justify-items: auto;
     list-style: none;
  }

  .html-academy {
    font-size: 12px;
    line-height: 1.5;
    color: #fefefe;
  }

  .breadcrumbs {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    list-style: none;
}

  .subject {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17
}

  .tel {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
  }

  .small {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

  .big {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.product p {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.product  a {
  color: #ffffff;
}

.subtitle {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.01;
  text-align: center;
}
.slider-button {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.raspberries {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  background-image:url("../img/raspberries-background.jpg");
  background-repeat: no-repeat; 
}

.caption-left {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  }

.offer {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.chocolate {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  background-image:url("../img/chocolate-background.jpg");
  background-repeat: no-repeat; 
}

.caption-right {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  text-align: right;
}

.color-text {
  color: #fefefe;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: #323232;
  background-color:#ffffff;
}

.contacts {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #323232;
}

.filter {
  font-size: 14px;
  line-height: 1.14;
}

.option {
  line-height: 1.13;
  color: #ffffff;
  background-color: #aabcb2;
  list-style: none;
}

.grey-button {
  line-height: 1.13;
  color: #ffffff;
  background-color: #aabcb2;
}


.inner-list a {
  line-height: 1.13;
  color: #ffffff;
}

.inner-list .inner-color {
  color: #000000;
  background-color: #ffffff;
}

.container-catalog {
  width:1200px;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
 
}







  