@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
         url("../fonts/roboto-v20-cyrillic-regular.woff2") format("woff2"), 
         url("../fonts/roboto-v20-cyrillic-regular.woff") format("woff"); 
}
 
@font-face {
     font-family: "Roboto";
     font-style: normal;
     font-weight: 500;
     src: local("Roboto Medium"), local("Roboto-Medium"),
          url("../fonts/roboto-v20-cyrillic-500.woff2") format("woff2"), 
          url("../fonts/roboto-v20-cyrillic-500.woff") format("woff"); 
}
   
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
         url("../fonts/roboto-v20-cyrillic-700.woff2") format("woff2"), 
         url("../fonts/roboto-v20-cyrillic-700.woff") format("woff"); 
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #ffffff;

  background-color: #859e90;
}


.container {
  width: 1200px;
  margin: 0 auto;
}

/*
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}


.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

*/

.navigation {
  display: flex;
  margin-left: 27px;
  margin-right: 27px;
  align-items: center;
}

.site-navigation {
  display: flex;
  position:relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li { 
  padding: 0 27px;
}

.site-navigation a  {
  position:relative;
  font-weight: 700;
  line-height: 1.13;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #d1d0ce;
}

.catalog {
  padding: 9px 14px 10px 14px;
  border-radius: 30px;
}

.catalog:hover {
  color: #333333;
  background-color: #f7f6f3;
}

.catalog:active  {
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.current {
  color: #ffffff;
  border-radius:30px;
  background-color: #d07058;
}

li:hover .catalog-list {
  display: block;
}

.catalog-list {
  position:absolute;
  display: none;
  top: 35px;
  left: 20px;
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius:5px;
  background-color: #f8f7f4;
}

.catalog-list a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  padding: 19px 21px 18px 20px; 
  color: #323232;
}

.catalog-list li:nth-child(3):hover {
  background-color:#fbded7;
}

.catalog-list li:nth-child(3):active {
  background-color: #f6b5a5;
}

.novelty a {
  font-weight: bold;
  border-bottom:1px solid #d1d0ce;
}

.novelty a:before {
  position: absolute;
  display: block;
  content: "";
  top:-5px;
  left: -15px;
  width: 100%;
  border-bottom: 5px solid #859e90;;
}

.user-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  color: #ffffff;
  list-style: none; 
}

.user-navigation li {
  position: relative;
  padding: 0 27px;
}

.form-search {
  position: absolute;
  display: none;
  top: 30px;
  right: 25px;
  line-height: 1.71;
  text-align: left;
  color: #999999; 
  border-radius: 5px;
  background-color:#f8f7f4;
}

.site-search {
  margin:20px 15px;
  padding: 15px 15px;
  width: 311px;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
}

.button:hover + .form-search {
  display: block;
}

.form-login {
  position: absolute;
  display: none;
  top: 30px;
  right: 30px;
  padding: 20px 17px 22px 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  color: #999999;
  border-radius: 5px;
  background-color:#f8f7f4;
}

.email {
  padding: 15px 15px;
  width: 241px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.password {
  margin-top: 20px;
  padding: 15px 15px;
  width: 241px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  background-color: #ffffff;
}

.button:hover + .form-login {
  display:block;
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  background-color: #9eb2a6;
}

.red-button {
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #fefefe;
  border-radius:15px;
  background-color:  #e74a35;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.columns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


.lost-password {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 13px;
  line-height: 1.85;
  color: #323232;
  text-align: left;
} 

.button-enter {
  margin-top: 20px;
  margin-right: auto;
  border-radius: 20px;
  padding: 15px 25px 14px 25px;
 }

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.response-form {
  padding: 20px 26px 27px 24px;
  width: 478px;
  line-height: 1.5;
  color: #999999;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.response-list {
  margin: 0;
  padding 0;
  list-style: none;
}

.response-form p {
  margin: 0px;
  font-size: 24px;
  line-height: 1.17;
  color: #323232;
}

.data {
  margin-top: 24px;
  margin-left: -40px;
  padding: 16px 15px;
  width: 267px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}


.data-email  {
  margin-top: 24px;
  margin-left: -40px;
  padding: 16px 15px;
  width: 267px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}

.comment {
  margin-top: 20px;
  margin-left: -40px;
  margin-right: auto;
  padding: 15px 264px 15px 15px;
  height: 155px;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
}

.button-send {
  display: block;
  margin-left: auto;
  text-align: right;
  padding: 14px 24px 13px 24px; 
  border-radius: 30px;
} 

.button-full {
  color: #323232;
  background-color: #ffffff;
}

.basket {
  position:absolute;
  display:none;
  top:30px;
  right: 0px;
  width: 540px;
  font-size: 13px;
  line-height: 1.23;
  z-index:20;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.button-full:hover + .basket {
  display:block;
}

.pale {
  color:#a6a6a5;
  opacity:0,2;
}

.table-width {
  width: 510px;
  padding: 20px 15px 21px 42px;
  border-collapse: collapse;
}

.cell-1 {
  width:  33px;
  padding-left: 15px;
}
.cell-2 {
  width: 215px;
  padding: 15px;
  padding-right: 32px;
}

.cell-3 {
  width: 93px;
  padding-right: 29px;
}

.cell-4 {
  width: 49px;
  padding-right: 0px;
}

.cell-5 {
  font-size: 15px;
  font-weight: 700;
  height: 46px;
  line-height: 1.2;
  color: #323232;
  text-align:right;
}

.table-underline {
  border-bottom: 1px solid #cacac7;
}

.button-checkout {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  max-width: 170px;
  padding: 13px 15px 13px 14px;
  margin-bottom: 21px;
  border-radius: 30px;
  text-decoration: none;
}
    
.page-title {
  font-size: 24px;
  line-height: 1.25;
  padding-left: 10px;
  padding-top: 20px;
  color: #323232;
}  

.advantages {
  width: 1148px;
  color: #323232;
  border-radius: 15px;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: no-repeat;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-list li {
  width: 50%;
  padding: 10px 0px;
}

.container-strawberry-post {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

 .strawberry {
  width: 561px;
  margin-left: 27px;
  border-radius: 15px;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

 .strawberry a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: underline;
  color: #323232;
}

.note {
  color: #323232;
}

.post {
  width: 549px;
  margin-right: 27px;
  color: #5a5a5a;
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url("../img/mail-background.jpg");
  background-repeat: no-repeat;  
}

.post-text {
  padding: 33px 22px 38px 21px;
  
}

.email-example {
  margin-left: 20px;
  line-height: 1.5;
  color: #999999;
  padding: 15px 205px 13px 15px;
  border-radius: 5px;
  background-color: #ffffff;
}

.emailexamplecom-button {
  padding: 14px 19px 13px 19px;
  margin-left: 10px;
  border-radius: 30px;
}

.main-footer {
  display: flex;
  align-items: center;
}

.main-footer a {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-social li {
  padding: 0 5px;
}

.information-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  list-style: none;
}

.information-list li {
  width: 50%;
}

.html-academy {
  font-size: 12px;
  line-height: 1.5;
  color: #fefefe;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  list-style: none;
}

.breadcrumbs li {
  padding-top: 28px;
  padding-right: 10px;
}

.subject {
font-size: 35px;
  font-weight: 700;
  line-height: 1.17
}


.small {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.big {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.product p {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

.product  a {
  color: #ffffff;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.01;
  text-align: center;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px auto;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.information {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0px;
  max-width: 170px;
}

.tel {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.raspberries-chocolate {
  display: flex;
  justify-content: space-between;
}

.raspberries {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  border-radius: 15px;
  background-image: url("../img/raspberries-background.jpg");
  background-repeat: no-repeat; 
}

.caption {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
}

.offer {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.chocolate {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  border-radius: 15px;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat; 
}

.color-button {
  color: #fefefe;
}

.filter {
  font-size: 14px;
  line-height: 1.14;
}

.option {
  line-height: 1.13;
  color: #ffffff;
  background-color: #aabcb2;
  list-style: none;
}

.grey-button {
  line-height: 1.13;
  color: #ffffff;
  background-color: #aabcb2;
}

.inner-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.inner-list li {
  padding: 0 10px;
}

.inner-list a {
  line-height: 1.13;
  color: #ffffff;
}

.inner-list .inner-color {
  color: #000000;
  background-color: #ffffff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
 }

.product-list  li {
  width: 25%;
  padding: 0px; 
}

  






  